<div class="comment-popin" ngClass="{{isInteractCommentPopinOpen && 'open'}}">
  <h2>Commentaire pour : {{videoTitle}}</h2>
  <form id="form" #form>
    <textarea #comment name="comment" placeholder="Entrez votre commentaire..."></textarea>
    <input type="submit" (click)="postCommentToVideo(comment.value, form)" value="Envoyer le commentaire">
  </form>
</div>
<div class="overlay" ngClass="{{isInteractCommentPopinOpen && 'open'}}" (click)="eventCloseCommentModal()"></div>
<p-toast position="bottom-right"></p-toast>
