<div class="comment-popin" ngClass="{{isInteractCommentPopinOpen && 'open'}}">
  <h2>Commentaire pour : {{videoTitle}}</h2>
  <form id="form" #form>
    <textarea #comment name="comment" placeholder="Entrez votre commentaire..."></textarea>
    <button type="button" class="btn btn-default" (click)="postCommentToVideo(comment.value, form)">Envoyer le commentaire</button>
  </form>
</div>
<div class="overlay" ngClass="{{isInteractCommentPopinOpen && 'open'}}" (click)="eventCloseCommentModal()"></div>
<p-toast position="bottom-right" life="2500"></p-toast>
