<div class="comment-popin" ngClass="{{isInteractCommentPopinOpen && 'open'}}">
  <h2>{{videoTitle}}</h2>
  <hr>
  <form id="form" #form>
    <div class="form-group">
      <textarea #comment name="comment" class="form-control" placeholder="Entrez votre commentaire..."></textarea>
      <button type="button" class="btn btn-default add-comment" (click)="postCommentToVideo(comment.value, form)">Envoyer le commentaire</button>
    </div>
  </form>
</div>
<div class="overlay" ngClass="{{isInteractCommentPopinOpen && 'open'}}" (click)="eventCloseCommentModal()"></div>
<p-toast position="bottom-right" life="2500"></p-toast>
