.recommended {
  margin-top: -5%;
}
@media (max-width: 991px){
  .recommended-info h3 {
    margin-top: -10%
  }
}
@media (max-width: 768px){
  .top-search form input[type="text"] {
    width: 130%;
    margin-left: 90%;
  }
  .top-search form input[type="submit"] {
    margin-left: 85%;
  }
}
@media (max-width: 480px){
  .top-search form input[type="text"] {
    width: 150%;
    margin-left: 80%;
  }
  .top-search form input[type="submit"] {
    top: 15px;
  }
}
