#display-video {
  margin-bottom: 5%;
}

p {
  margin: 10px;
}

.fa-comment:hover{
  color: #21DEEF;
}

.fa-comment{
  color: #272c2e;
}

#modal-comment{
  padding-top: 20px;
}


p:hover{
  color: #21DEEF;
  font-weight: bold;
}
