.comment-popin {
  position: fixed;
  z-index: 1041;
  top: -110vh;
  left: calc(50% - 150px);
  width: 55%;
  height: 30%;
  border-radius: 5px;
  background-color: white;
  margin-left: -15%;
}

.comment-popin.open {
  top: calc(50% - 100px);
}

.comment-popin textarea {
  margin: 10px auto;
  display: block;
  width: 90%;
  resize: none;
  height: 50px;
}

.comment-popin h2 {
  width: 100%;
  text-align: center;
  margin: 10px auto;
  font-size: 20px;
  color: #BBBBBB;
}

.comment-popin input{
  display: block;
  width: 50%;
  margin: 0 auto;
}

.overlay {
  position: fixed;
  z-index: 1040;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.8;
  cursor: pointer;
}

.overlay.open {
  width: 100vw;
  height: 100vh;
}

.rate{
  width: 30%;
  margin: 0 auto;
}

.fas{
  margin: 15px;
}

.fas:hover{
  cursor: pointer;
  color: #21DEEF;
}

@media (max-width: 991px){
  .comment-popin{
    width: 85%;
    margin-left: -27%;
    height: 30%;
  }
  .comment-popin textarea {
    margin-bottom: 3%;
  }
  .comment-popin.open {
    top: calc(50% - 150px);
  }
  .container.rate {
    width: 20%;
  }
}
@media (max-width: 768px){
  .comment-popin{
    width: 85%;
    margin-left: -23%;
    height: 30%;
  }
  .comment-popin textarea {
    width: 90%;
    margin-left: 20px;
    margin-bottom: 5%;
  }
  .container.rate {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 480px){
  .comment-popin{
    margin-left: -10%;
    height: 30%;
  }
  .comment-popin textarea {
    margin-bottom: 10%;
  }
  .container.rate {
    width: 30%;
  }
}
