<div class="description-popin" ngClass="{{isInteractDescriptionPopinOpen && 'open'}}">
  <h2>Description pour : {{playlistTitle}} </h2>
  <form id="form" #form>
    <input #title type="text" name="title" placeholder="Titre de la playlist">
    <textarea #description name="description" placeholder="Entrez votre description..."></textarea>
    <input type="submit" (click)="putDescriptionToVideo(description.value, title.value, form)" value="Envoyer la description">
  </form>
</div>
<div class="overlay" ngClass="{{isInteractDescriptionPopinOpen && 'open'}}" (click)="eventCloseDescriptionModal()"></div>
