.description-popin {
  position: fixed;
  z-index: 1041;
  top: -110vh;
  left: calc(50% - 250px);
  width: 70%;
  height: 60%;
  border-radius: 5px;
  background-color: white;
  margin-left: -15%;
}

.description-popin.open {
  top: calc(50% - 250px);
}

.description-popin textarea {
  margin: 10px auto;
  display: block;
  width: 70%;
  resize: none;
  height: 80px;
  margin-left: 25px;
}

.description-popin h2 {
  width: 100%;
  text-align: center;
  font-size: 20px;
  color: #BBBBBB;
}

.description-popin input{
  display: block;
  width: 70%;
  margin-left: 75px;
}

.description-popin button{
  display: block;
  margin: 30px auto;
  width: 40%;
  font-size: 12px;
}

.overlay {
  position: fixed;
  z-index: 1040;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.8;
  cursor: pointer;
}

.overlay.open {
  width: 100vw;
  height: 100vh;
}

.form-group{
  display: flex;
  margin-top: 5%;
}
label {
  margin-top: 7px;
  font-size: 15px;
  margin-left: 15px;
}
.description{
  margin-top: 40px;
}
.update-playlist:hover{
  background-color: #fff;
  border-color: #21DEEF;
}
@media (max-width: 991px){
  .description-popin{
    width: 85%;
    margin-left: -160px;
    height: 60%;
  }
  .description-popin textarea, .description-popin input {
    width: 75%;
  }
}
@media (max-width: 768px){
  .description-popin{
    width: 85%;
    margin-left: -80px;
  }
  .description-popin textarea {
    width: 70%;
    margin-left: 40px;
  }
  .description-popin input{
    width: 70%;
    margin-left: 90px;
  }
}
@media (max-width: 480px){
  .description-popin{
    margin-left: 50px;
    height: 50%;
  }
  .description-popin textarea {
    width: 60%;
    margin-left: 20px;
  }
  .description-popin input{
    width: 60%;
    margin-left: 70px;
  }
}
