.description-popin {
  position: fixed;
  z-index: 1041;
  top: -110vh;
  left: calc(50% - 150px);
  width: 300px;
  height: 200px;
  background-color: white;
}

.description-popin.open {
  top: calc(50% - 100px);
}

.description-popin textarea {
  margin: 10px auto;
  display: block;
  width: 90%;
  resize: none;
  height: 50px;
}

.description-popin h2 {
  width: 90%;
  text-align: center;
  margin: 10px auto;
  font-size: 10px;
}

.description-popin input{
  display: block;
  width: 50%;
  margin: 0 auto;
}

.description-popin button{
  display: block;
  margin: 0 auto;
  width: 50%;
  font-size: 12px;
}

.overlay {
  position: fixed;
  z-index: 1040;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.8;
  cursor: pointer;
}

.overlay.open {
  width: 100vw;
  height: 100vh;
}
